:8080 {
    route {
        # httpsig middleware is used here
        httpsig {
            registry "http://localhost:8787/test-registry.txt"
            # You can specify multiple registries. All tags will be checked independantly
            registry "http://example.test/another-registry.txt"
        }
        
        # Responds if signature is valid
        handle {
            respond "Signature verification succeeded!" 200
        }
    }
}
